@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
*{
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 63.5%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    overflow-x: hidden;
    background-color: var(--Background);
}
:root{
    --Background: #EEEDED;
    --Yellow_Circle: #eb7413;
    --Blue_Bars: #0905c8;
    --Black_Text: #b3b1b1;
    --White_Text: #F8F8F9;
    --black:#000;
}
.container{
    width: 85%;
}
.container_forcast{
    width: 100%;
}
.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.column_center{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
input,button{
    outline: none;
    border: none;
}
.currentData_ForcastData{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
}
.current_data_main{
    background-color:var(--White_Text);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.current_data{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.fa-magnifying-glass{
    font-size:2rem;
    cursor: pointer;
}
.search_input{
    background-color: transparent;
    width: 80%;
    font-weight: 500;
    font-size:2rem;
}
.input_search{
    gap:1.5rem;
}

.fa-location-crosshairs{
    font-size: 1.8rem;
    cursor: pointer;
}
.current_data_weather_images_main{
    text-align: center;
}
.current_data_weather_images_main img{
    width: 25rem;
    filter: drop-shadow(.2rem .2rem .5rem rgba(0, 0, 0, 0.5));
}
.current_temp{
    font-size: 5rem;
    font-weight: 350;
}
.current_temp span{
    font-size: 4.5rem;
}
.current_day_time_main{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.current_day{
    font-size: 2rem;
    font-weight: 450;
}
.current_time{
    font-size: 2rem;
    font-weight: 450;
    color: var(--Black_Text);
}
.i_c_w{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.i_c_w p{
    font-weight: 450;
}
.c_w_i{
    font-size: 2rem;
    color: var(--Black_Text);
}
.fa-cloud-rain{
    color: var(--Blue_Bars);
}
.current_weather_information{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.country_main{
    width: 80%;
    height: 15rem;
    overflow: hidden;
    border-radius: .5rem;
    /* box-shadow: 0 0 .5rem rgba(0,0,0,.5); */
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0,1)),url('https://cdn.pixabay.com/photo/2016/08/24/17/07/india-1617463_1280.png');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}
.country_name{
    font-size: 2rem;
    color: var(--White_Text);
    text-transform: uppercase;
}
.city{
    color: var(--Black_Text);
}
/* for cast data */
.forcast_data{
    display: grid;
    place-items: center;
}
.forcast_data_main{
    height: 100vh;
    /* border: .2rem solid black; */
    width: 95%;
}
.forcast_data_header{
   height: 6rem;
}
.fdh{
    gap: 2rem;
    justify-content: space-between;
}
.week{
    font-size: 2rem;
    font-weight: bold;
    width: 80%;
    position: relative;
}
.week::before{
    position: absolute;
    content: '';
    height: .25rem;
    width: 5%;
    background-color: var(--black);
    bottom: 0;
    left: .2rem;
}
.degreemain{
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--White_Text);
    background-color: var(--black);
    padding: .5rem .6rem;
    cursor: pointer;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
}
.akashimage{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: .2rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
}
.akashimage img{
    height: 4rem;
    width: 4rem;
    transform: scale(4.5);
    margin-top: 3rem;
    margin-left: -.5rem;
}
.five_day_main{
    margin-top:2rem;
    display: grid;
    place-items:center;
}
.weekday{
    text-align: center;
    background-color: var(--White_Text);
    overflow: hidden;
    /* width:12rem;
    height: 16rem; */
    border-radius: .5rem;
    display: grid;
    place-content: center;
    padding: .7rem 0;
}
.fiveday{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}
.wimage_main{
    display: grid;
    place-items: center;
    text-align: center;
}
.wimage_main img{
    width: 12rem;
    filter: drop-shadow(.2rem .2rem .5rem rgba(0, 0, 0, 0.5));
}
.wday,.w_twmp{
    font-size: 1.5rem;
    font-weight: 450;
}
.rainchance{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.rainchance span{
    font-weight: 450;
}
.thh{
    margin: 2.5rem 0;
}
.highlight_data{
    border-radius: .5rem;
    background-color: var(--White_Text);
}
.highlight_cont{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,16rem);
    gap: 2rem;
}
.h_d_h{
    color: var(--Black_Text);
    font-size: 2rem;
    font-weight: 500;
    height: 12%;
}
.highlight_data{
    padding: 1rem 2rem;
    overflow: hidden;
}
.thss{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 1rem;
    height: calc(100% - 12%);
}
.fa-sun{
    color: var(--Yellow_Circle);
    font-size: 4rem;
}
.uv_index{
    font-size: 4rem;
}
.windsts{
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}
.wind_location_main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:1rem;
}
.thw{
    font-size: 3rem;
}
.wind{
    font-size: 4rem;
    font-weight: 500;
}
.windsts_l_main{
    border: .2rem solid var(--Black_Text);
    padding: .5rem;
    border-radius: 50%;
}
.fa-location-dot{
    font-size: 2rem;
    color: var(--Blue_Bars);
}
.wsw{
    font-size: 3rem;
}
.srss{
    flex-direction: column;
    align-items: start;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}
.sunrise_sunset{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.up_down_main{
    color: var(--White_Text);
    font-size: 2rem;
    padding: .9rem 1.3rem;
   background-color: var(--Yellow_Circle);
    border-radius: 50%;
}
.ss_sr{
    font-size: 3rem;
}
.hd{
    font-size: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.humidity{
    font-size: 5rem;
    font-weight: 450;
}
.hddd{
    justify-content: space-between;
}
.hc{
    height:70%;
    width: 3rem;
    border: .2rem solid var(--Black_Text);
    border-radius: 3rem;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: end;
}
.hd_c{
    transform: translateY(-36%);
    /* 12 dia gun hbe */
    height:2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--Blue_Bars);
}
.air{
    font-size: 3.5rem;
}
.fd{
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 450;
}

@media(max-width:1440px){
    .current_data{
        gap: .5rem;
    }
    .highlight_cont {
        gap: 1rem;
    }
    .fiveday {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .fa-magnifying-glass{
        font-size: 2rem;
    }
    .search_input{
        font-size: 2.5rem;
    }
    .fa-location-crosshairs{
        font-size: 2rem;
    }
    .current_temp{
        font-size: 6rem;
    }
    .i_c_w p {
        font-size: 2rem;
    }
    .current_day,.current_time {
        font-size: 2.3rem;
    }
    .country_main {
        width: 85%;
        height: 14rem;
    }
    .country_name {
        font-size: 2.5rem;
    }
    .current_data_weather_images_main img {
        width: 25rem;
    }
    .forcast_data{
        overflow-y: auto;
    }
    .highlight_main{
        padding-bottom: 2rem;
    }
}
@media(max-width:1163px){
    .fiveday {
        column-gap: 2rem;
    }
    .wday, .w_twmp {
        font-size: 2.5rem;
        font-weight: 450;
    }
    .forcast_data{
        overflow-y: auto;
    }
    .fd {
        font-size: 1.7rem;
        margin-top: 1rem;
        font-weight: 450;
    }
    h2{
        font-size: 2.3rem;
    }
    .highlight_cont {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 21rem);
        gap: 1.5rem;
    }
    .highlight_main{
        padding-bottom: 2rem;
    }
    .current_data_weather_images_main img {
        width: 24rem;
    }
    .country_main {
        width: 100%;
    }
    .current_data {
        gap:.5rem;
    }
    .search_input {
        font-size: 2rem;
    }
}
@media(max-width:1025px){
    .current_data {
        gap: .5rem;
    }
    .current_temp {
        font-size: 5rem;
        display: flex;
    }
    .current_temp span {
        font-size: 3.5rem;
    }
    .city{
        font-size: 3.5rem;
        display: flex;
        align-items: center;
    }
}
@media(max-width:963px){
    .fiveday {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .wday,.w_twmp {
        font-size: 3rem;
        font-weight: 450;
    }
    .fd {
        font-size: 2rem;
    }
}
@media(max-width:910px){
    .currentData_ForcastData {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .forcast_data {
        overflow-y: unset;
    }
    .container{
        width: 92%;
    }
    .container_forcast{
        width: 95%;
    }
    .input_search {
        gap: 1.5rem;
        justify-content: space-between;
    }
    .current_data_weather_images_main img {
        width: 22rem;
    }
    .country_main {
        width: 40%;
        height: 14rem;
    }
    .fa-magnifying-glass,.fa-location-crosshairs{
        font-size: 2.5rem;
    }
    .search_input {
        font-size: 2rem;
    }
    .current_temp {
        font-size: 6rem;
    }
    .current_temp span {
        font-size: 5.5rem;
    }
    .current_day, .current_time {
        font-size: 2.8rem;
    }
    .current_data {
        gap: 1rem;
    }
    .c_w_i{
        font-size: 3rem;
    }
    .i_c_w p {
        font-size: 2.5rem;
    }
    .highlight_main {
        display: grid;
        place-items: center;
    }
    .hc {
        width: 4rem;
    }
    .hd_c {
        height: 2.5rem;
        width: 2.5rem;
    }
    .h_d_h {
        font-size: 3rem;
    }
    .fa-sun{
        font-size: 4rem;
    }
    .uv_index {
        font-size: 6rem;
    }
    .thss {
        gap: 2rem;
    }
    .wind {
        font-size: 6rem;
    }
    .thw {
        font-size: 4rem;
    }
    .thss {
        gap: 1rem;
    }
    .ss_sr {
        font-size: 4rem;
    }
    .humidity {
        font-size: 7rem;
    }
    .week {
        font-size: 3rem;
    }
}
@media (max-width: 742px) {
    .container_forcast {
        gap: 1.5rem;
    }
    .country_main {
        width: 60%;
    }
}
@media (max-width:566px) {
    .highlight_cont {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: none;
        gap: 1.5rem;
    }
    .highlight_data {
        height: 20rem;
    }
    .country_main {
        width: 70%;
    }
    .degreemain {
        font-size: 2rem;
    }
}
@media (max-width: 497px) {
    .country_main {
        width: 80%;
    }
}
@media (max-width: 442px) {
    .fiveday {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .country_main {
        width: 100%;
    }
    .current_data{
        gap: 1.7rem;
    }
}
@media (max-width: 417px) {
    .search_input {
        font-size: 2rem;
        width: 70%;
    }
    .current_data_weather_images_main img {
        width: 22rem;
    }
    .country_main {
       height: 13rem;
    }
    .current_temp {
        font-size: 4.8rem;
    }
    .current_temp span{
        font-size: 4rem;
    }
    .current_data{
        gap: .5rem;
    }
}
@media (max-width: 390px) {
    .current_data{
        gap: .5rem;
    }
    .current_temp {
        font-size: 4rem;
    }
    .current_temp span{
        font-size: 3.5rem;
    }
    .current_day, .current_time {
        font-size: 2rem;
    }
    .i_c_w p {
        font-size: 2rem;
    }
    .country_main {
        height: 15rem;
    }
    .current_data_weather_images_main img {
       width: 29rem;
    }
    .fa-magnifying-glass, .fa-location-crosshairs {
        font-size: 2rem;
    }
    .search_input {
        font-size: 2rem;
        width: 65%;
    }
   
}

/* loader animation */
.lodare_main{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.none{
    display: none;
}

.loader {
    width: 10rem;
    aspect-ratio: 1;
    display:grid;
    -webkit-mask: conic-gradient(from 15deg,#0000,#000);
    animation: l26 1s infinite steps(12);
  }
  .loader,
  .loader:before,
  .loader:after{
    background:
      radial-gradient(closest-side at 50% 12.5%,
       #f03355 96%,#0000) 50% 0/20% 80% repeat-y,
      radial-gradient(closest-side at 12.5% 50%,
       #f03355 96%,#0000) 0 50%/80% 20% repeat-x;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
  }
  .loader:after {
    transform: rotate(60deg);
  }
  
  @keyframes l26 {
    100% {transform:rotate(1turn)}
  }
